
@asset-icon-base-uri:     ~'atom://stateful/icons/triniti';
@asset-icon-type:         'svg';
@stateful-icon-added:     "plus-circled-filled";
@stateful-icon-ignored:   "no-parking-sign-filled";
@stateful-icon-modified:  "hummingbird-filled";
@stateful-icon-removed:   "trash-filled";
@stateful-icon-renamed:   "infinity-filled";
@stateful-color-fallback: #3c52e4;
@stateful-color-added:    @stateful-color-fallback;
@stateful-color-renamed:  @stateful-color-fallback;
@stateful-color-removed:  @stateful-color-fallback;
@stateful-color-ignored:  @stateful-color-fallback;
@stateful-color-modified: @stateful-color-fallback;
