                                                                            /*
  R a i n b ow
          S t a te
                                                                            */
@import             "declarations";
@import (reference) "ui-variables";
@import (reference) "defaults";
@import (reference) "conf";
@import             "misc";
// @import "file-browser";

// @rainbow-state-icon-success:  @rainbow-state-icon-added;
// @rainbow-state-icon-warning:  @rainbow-state-icon-modified;
// @rainbow-state-icon-error:    @rainbow-state-icon-removed;
@text-color-info:             @rainbow-state-color-renamed;
@text-color-success:          @rainbow-state-color-success;
@text-color-warning:          @rainbow-state-color-warning;
@text-color-error:            @rainbow-state-color-error;

@text-color-added:            @rainbow-state-color-added;
@text-color-modified:         @rainbow-state-color-modified;
@text-color-removed:          @rainbow-state-color-removed;
@text-color-renamed:          @rainbow-state-color-renamed;
@text-color-ignored:          @rainbow-state-color-ignored;

:root {
  --color-info:     @rainbow-state-color-info;
  --color-success:  @rainbow-state-color-success;
  --color-warning:  @rainbow-state-color-warning;
  --color-error:    @rainbow-state-color-error;

  --color-added:    @rainbow-state-color-added;
  --color-modified: @rainbow-state-color-modified;
  --color-renamed:  @rainbow-state-color-renamed;
  --color-removed:  @rainbow-state-color-removed;
  --color-ignored:  @rainbow-state-color-ignored;
}

.icon-styles () {
  display:        inline-block !important;
  vertical-align: middle !important;
  min-height:     1em !important;
  min-width:      1em !important;
  height:         1em !important;
}

.apply-state(info);
.apply-state(success);
.apply-state(warning);
.apply-state(error);

.apply-state(added);
.apply-state(modified);
.apply-state(renamed);
.apply-state(removed);
.apply-state(ignored);



// body, .tab {
//   font-family: Helvetica Neue !important;
//   font-weight: 200 !important;
// }

.status-indicator {
  & {
    .status-color(info) }

  &.is-disabled {
    .status-color(error) }
}



.rainbov () {
  &, & > * {
  &, &::before {
    color: var(--color) !important
  }}
}

.set-color(@name) {
  --color: var(~"--color-@{name}")
}

  // --color: var(~"--color-@{name}", ~"@{rainbow-state-color-@{name}}");
.status-color(@name) {
  .set-color(@name);
  .rainbov();
  &, & > * {
    border-color: initial !important }
}

.status-icon(@ico) {
  .icon-styles();
  .rainbov();
  --icon: @ico;
  content: "" !important;
  -webkit-mask-position: center;
  -webkit-mask-repeat:   no-repeat;
  -webkit-mask-size:     contain; //120%;
  -webkit-mask-image:    var(--icon);
  background-color: var(--color, @text-color) !important;
}

.apply-state(@name; @n: 0) {
  @icon: ~"@{rainbow-state-icon-@{name}}";
  .col () {
    .status-color(@name) }
  .ico () {
    .col();
    .status-icon(@icon) }

  .is-@{name},
  .status-@{name},
  .icon-diff-@{name},
  .highlight-@{name} {
    .col }

  // Colors
  // .btn-@{name},
  // .btn.btn-@{name} {
  //   border-color: initial !important;
  //   .col }

  // .text-@{name},
  // .@{name}-messages,
  // .highlight-@{name} {
  //   .col }

  // .label-@{name},
  // .badge-@{name} {
  //   .col }

  // .state-@{name},

  // Icons
  .tree-view .status-@{name}.list-item::after {
    .ico }

  .status-@{name}.icon.list-item::after {
    .ico }

  .highlight-@{name}::after  {
    .ico }

  .icon-diff-@{name}::before {
    .ico }
}



// body, .tab {
//   font-family: Helvetica Neue !important;
//   font-weight: 200 !important;
// }
