                                                                            /*
  R a i n b ow
          S t a te
                                                                            */
@import             "declarations";
@import (reference) "ui-variables";
@import (reference) "defaults";
@import (reference) "conf";
@import             "misc";
@import             "git";

@text-color-primary:          @rainbow-state-color-primary;
@text-color-info:             @rainbow-state-color-info;
@text-color-success:          @rainbow-state-color-success;
@text-color-warning:          @rainbow-state-color-warning;
@text-color-error:            @rainbow-state-color-error;
@text-color-added:            @rainbow-state-color-added;
@text-color-modified:         @rainbow-state-color-modified;
@text-color-removed:          @rainbow-state-color-removed;
@text-color-renamed:          @rainbow-state-color-renamed;
@text-color-ignored:          @rainbow-state-color-ignored;

:root {
  --color-primary:  @rainbow-state-color-primary;
  --color-info:     @rainbow-state-color-info;
  --color-success:  @rainbow-state-color-success;
  --color-warning:  @rainbow-state-color-warning;
  --color-error:    @rainbow-state-color-error;
  --color-added:    @rainbow-state-color-added;
  --color-modified: @rainbow-state-color-modified;
  --color-renamed:  @rainbow-state-color-renamed;
  --color-removed:  @rainbow-state-color-removed;
  --color-ignored:  @rainbow-state-color-ignored;
}


.icon-styles () {
  display:        inline-block !important;
  vertical-align: middle !important;
  min-height:     1em !important;
  min-width:      1em !important;
  height:         1em !important;
}

.apply-state(primary);
.apply-state(info);
.apply-state(success);
.apply-state(warning);
.apply-state(error);

.apply-state(added);
.apply-state(modified);
.apply-state(renamed);
.apply-state(removed);
.apply-state(ignored);

// Package lists' button groups' highlights
.status-indicator {
  & { .status-color(info) }
  &.is-disabled { .status-color(error) }
}

.rainbov (@prop: color) {
  &, & > * {
  &, &::before {
    @{prop}: var(--color) !important
  }}
}


// --color: var(~"--color-@{name}", ~"@{rainbow-state-color-@{name}}");
.status-color-inverse(@name) {
  .set-color(@name);
  .rainbov(border-color);
  .rainbov(background-color);
  &, & > * {
    color: initial !important }
}

.status-color(@name) {
  .set-color(@name);
  .rainbov(color);
  .rainbov(border-color);
  &, & > * {
    border-color: initial !important }
}

.status-icon(@ico) {
  .icon-styles();
  .rainbov();
  --icon: @ico;
  content: "" !important;
  -webkit-mask-position: center;
  -webkit-mask-repeat:   no-repeat;
  -webkit-mask-size:     contain; //120%;
  -webkit-mask-image:    var(--icon);
  background-color: var(--color, @text-color) !important;
}

.apply-state(@name; @n: 0) {

  @icon: ~"@{rainbow-state-icon-@{name}}";

  .inv () {
    .status-color-inverse(@name) }
  .col () {
    .status-color(@name) }
  .ico () {
    .status-color(@name);
    .status-icon(@icon) }

  // General text coloring
  // .status-@{name},
  .@{name}-messages,
  .icon-diff-@{name},
  .text-@{name},
  .is-@{name} {
    .col }

  .highlight-@{name} {
    .inv }

  // Badge coloring
  .state-@{name},
  .label-@{name},
  .badge-@{name} {
    .col }

  // Button coloring
  .btn.btn-@{name} {
    border-color: auto !important;
    .col;

    &:hover,
    &:focus,
    &:active,
    &.active,
    &.selected {
      border-color: auto !important;
      .inv }
  }
  // .text-@{name},
  // .@{name}-messages,
  // .highlight-@{name} {
  //   .col }


  // Icons
  .tree-view .status-@{name}.list-item::after {
    .ico }

  .status-@{name}.icon.list-item::after {
    .ico }

  .highlight-@{name}::after  {
    .ico }

  .icon-diff-@{name}::before {
    .ico }
}



// body, .tab {
//   font-family: Helvetica Neue !important;
//   font-weight: 200 !important;
// }
