@import "ui-variables";
@import "defaults";
@import "conf";
@import "misc";
@import "file-browser";

@stateful-icon-success: @stateful-icon-added;
@stateful-icon-warning: @stateful-icon-modified;
@stateful-icon-error:   @stateful-icon-removed;
@text-color-info:       @stateful-color-renamed;
@text-color-success:    @stateful-color-success;
@text-color-warning:    @stateful-color-warning;
@text-color-error:      @stateful-color-error;
@text-color-added:      @stateful-color-added;
@text-color-modified:   @stateful-color-modified;
@text-color-removed:    @stateful-color-removed;
@text-color-renamed:    @stateful-color-renamed;
@text-color-ignored:    @stateful-color-ignored;

:root {
  --color-info:     @stateful-color-info;
  --color-success:  @stateful-color-success;
  --color-warning:  @stateful-color-warning;
  --color-error:    @stateful-color-error;
  --color-added:    @stateful-color-added;
  --color-modified: @stateful-color-modified;
  --color-renamed:  @stateful-color-renamed;
  --color-removed:  @stateful-color-removed;
  --color-ignored:  @stateful-color-ignored;
}

.icon-styles () {
  min-height: 1em !important;
  min-width:  1em !important;
  height:     1em !important;
  display:    inline-block !important;
  vertical-align: middle !important;
}

.apply-state(success);
.apply-state(warning);
.apply-state(error);
.apply-state(added);
.apply-state(modified);
.apply-state(renamed);
.apply-state(removed);
.apply-state(ignored);

.status-color(@name) {
  // --color: var(~"--color-@{name}", ~"@{stateful-color-@{name}}");
  --color: var(~"--color-@{name}");

  &, &::before, & > *, & > *::before {
    color:   var(--color) !important }
    color:   var(--color) !important
}

.status-icon(@ico) {
  --icon: @ico;

  &, &::before, & > *, & > *::before {
    color:   var(--color) !important }

  -webkit-mask-position: center;
  -webkit-mask-repeat:   no-repeat;
  -webkit-mask-size:     contain; //120%;
  -webkit-mask-image:    var(--icon);
  background-color:      var(--color, @text-color) !important;
  content:               "" !important;
  .icon-styles()
}

.apply-state(@name; @n: 0) {
  @icon: ~"@{stateful-icon-@{name}}";
  .col () {
    .status-color(@name) }
  .ico () {
    .col();
    .status-icon(@icon) }

  .is-@{name},
  .status-@{name},
  .icon-diff-@{name},
  .highlight-@{name} {
    .col }

  .tree-view .status-@{name}.list-item::after,
  .status-@{name}.icon.list-item::after,
  .highlight-@{name}::after,
  .icon-diff-@{name}::before {
    .ico }
}



// body, .tab {
//   font-family: Helvetica Neue !important;
//   font-weight: 200 !important;
// }
